*{
    margin:0;
    padding: 0;}
    


h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
        align-items: center;


}


#scores{
    display: flex;
    justify-content: center;
    margin: 22px;
}

main{
    background-color: aliceblue;
    margin: 22px 23px;
    display: grid;
    padding: 23px 23px 22px;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: vh; /* Adjust as needed */
}

button{
    padding: 10px 20px;
    margin: 22px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-size: 120px;
}

#paper{
    background-color:#008080;
}

#scissors{
    background-color: #008080;
}
#rock{
    background-color: #008080;
}

#scores{
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: block;  
    width: 200px; 
    margin: 0 auto; 
    padding: 20px;
    text-align: center;
   
}