*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    

}

.input{
    padding: 22px;
}

.result{
    padding: 12px;


}

main{
    background-color: aliceblue;
    margin: 22px 23px;
    padding: 23px 23px 22px;

}
.container {
    display:grid ;
    justify-content: center;
    align-items: center;
}

#error{
    color: red;
    display:grid ;
    padding: 22px;
    justify-content: center;
    align-items: center;
}
